/ Main
#main
  .container
    .row
      / Content
      #content.8u.skel-cell-important
        %section
          %header
            %h2 aqadMIX
            .byline
              Developed by
              %a{:href => "keepinsoftwares.github.io"} Keepin Softwares
              under
              %a{:href => "http://pmle.github.io"} Project MLE
            %p
              BigBook is actually a thought of
              = succeed "," do
                %a{:href => "http://pmle.github.io"} ennkeypee
              working at
              = succeed "." do
                %a{:href => "keepinsoftwares.github.io"} Keepin Softwares Ltd
              The idea derives from his feeling that as a student he always had to find books by local authors in order to get the material in complementary to University Syllabus. And this was a tough job for him always as he was not so keen in reading loose writings instead he always feel of reading the deepest concepts given by top authors.In short what BigBook do is providing the students the self derived, comparatively easy, complete, updated & most followed material so that the students can learn content according to their syllabus for their exams.
      / Sidebar
      #sidebar.4u
        %section
          %header
            %h2 Team aqadMIX
          .row
            %section.10u
              %ul.default
                %li
                  %a{:href => "http://ennkeypee.github.io"} ennkeypee
        %section
          %header
            %h2 Latest Tweets
          %ul.style
            %li
              %p.posted May 21, 2014  |  (10 )  Comments
              %p
                %a{:href => "#"} Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.
            %li
              %p.posted May 18, 2014  |  (10 )  Comments
              %p
                %a{:href => "#"} Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.
