/ Featured
#featured
  .container
    %header
      %h2 What is this actually ?
    %p
      This is aqadMIX, a community driven dynamic books library for any of the syllabus patern and courses by
      %a{:href => "http://keepinsoftwares.github.io"} Keepin Softwares
      released for student welfare under
      = succeed "," do
        %a{:href => "pmle.github.io"} Project MLE
      a project for making life  easy. For better service download the aqadMIX app as per your role :
    %br/
    .row
      %section.4u
        %span.pennant
          %span.fa.fa-clipboard
        %h3
          %a{:href => "#"} Student
      %section.4u
        %span.pennant
          %span.fa.fa-male
        %h3
          %a{:href => "#"} Teacher
      %section.4u
        %span.pennant
          %span.fa.fa-pencil
        %h3
          %a{:href => "#"} Author
/ Main
#main
  #content.container
    %header
      %h2 JOIN TEAM aqadMIX
      %p You can help us enhancing this application at backend:
    .row
      %section.6u
        %a.image.full{:href => "#"}
          %img{:alt => "", :src => "images/pic01.jpg"}/
        %header
          %h2 Developer
        %p Strong hands on Ruby, Haml, Sass, Coffee-script and Sequel. Knowledge of any other language over this will always be entertained. Person should be full of new ideas and concepts, should be a solution provider.
      %section.6u
        %a.image.full{:href => "#"}
          %img{:alt => "", :src => "images/pic02.jpg"}/
        %header
          %h2 Class Representative
        %p Student complete in knowledge regarding his/her university, should be a good leader with good speaking and writing skills.
    .row
      %section.6u
        %a.image.full{:href => "#"}
          %img{:alt => "", :src => "images/pic03.jpg"}/
        %header
          %h2 Content Provider
        %p Should have author like qualities. Must be good in English and finding the accurate content. Must possess excellent typing speed with full accuracy.
      %section.6u
        %a.image.full{:href => "#"}
          %img{:alt => "", :src => "images/pic04.jpg"}/
        %header
          %h2 Funder
        %p As you all know, this is a free service and therefore we need funds in order to keep everything in balance, Funds can be in any form from wishes to cheques, but should be given with heart.
