/ HTML--HEAD
!!!
/
  aqadMIX by ennkeypee
  ennkeypee@gmail.com
  Released as OPEN SOURCE under the General Public License (GNU/GPL)
%html
  %head
    %title aqadMIX
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/skel.min.js"}
    %script{:src => "js/skel-panels.min.js"}
    %script{:src => "js/init.js"}
    %noscript
      %link{:href => "css/skel-noscript.css", :rel => "stylesheet"}/
      %link{:href => "css/style.css", :rel => "stylesheet"}/
      %link{:href => "css/style-desktop.css", :rel => "stylesheet"}/
  / HTML--HEAD
  %body.homepage
    / Header
    #header
      #nav-wrapper
        / Nav
        %nav#nav
          %ul
            %li.active
              %a{:href => "/"}
                / a href="/mybook"
                Pattern
                / BigBook
            %li
              %a{:href => "/kors"}
                / a href="/progress"
                Member
                / Progress
            %li
              %a{:href => "/aboutus"}
                / a href="/backend"
                Backend
                / About us
            %li
              %a{:href => "/news"}
                / a href="/suggestion"
                Suggestion
                / News
        / Nav
      .container
        / INTRO
        #logo
          %h1
            %a aqadMIX
          %span.tag
            Application Providing Easy Academic Life
        %br/
        %ul.contact
          %li.fa.fa-heart
            %br>/
            Student Friendly
          %li.fa.fa-globe
            %br>/
            Fully Portable
          %li.fa.fa-user
            %br>/
            Technology Supporting
          %li.fa.fa-html5
            %br>/
            Fast and Easy
          %li.fa.fa-resize-vertical
            %br>/
            Platform Independent
          %li.fa.fa-gift
            %br>/
            Globally Economical
        %a.button{:href => "/start"} START HERE
    = yield
    / Footer
    #footer
      .container
        %section
          %header
            %h2 Get in touch
            %span.byline We are on
          %ul.contact
            %li
              %a.fa.fa-linkedin{:href => "http://linkedin.com/aqadMIX"}
                %span Linkedin
            %li.active
              %a.fa.fa-facebook{:href => "http://facebook.com/aqadMIX"}
                %span Facebook
            %li
              %a.fa.fa-twitter{:href => "http://twitter.com/aqadMIX"}
                %span Twitter
            %li
              %a.fa.fa-google-plus{:href => "http://plus.google.com/aqadMIX"}
                %span Google+
    / Copyright
    #copyright
      .container
        Design and Development:
        %a{:href => "http://keepin.github.io"} Keepin Softwares
        Under:
        %a{:href => "http://pmle.github.io"} PMLE
        (
        %a{:href => "http://gpl.com"}> GPL
        )
