/ Main
#main
  .container
    .row
      / Sidebar
      #sidebar.4u
        %section
          %header
            %h2 Data Structures
          %p.posted Chapters
          .row
            %section.10u
              %ul.default
                -@chapters.each do |l|
                  %li
                    %a{:href => ""}
                      #{l.title}
                    %span{:class => "fa fa-check-square-o"}
        %section
          %header
            %h2 Latest Post
          %ul.style
            %li
              %p.posted May 21, 2014  |  (10 )  Comments
              %p
                %a{:href => "#"} Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.
            %li
              %p.posted May 18, 2014  |  (10 )  Comments
              %p
                %a{:href => "#"} Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.
      / SIDEBAR
      / Content
      #content.8u.skel-cell-important
        %section
          %header
            %h2 Instructions
          %br/
          %p All those chapters and topics having a tick ahead are allready completed by you.
          %p Data Structures is one of the most important subject for any Software Engineer. It acknowledges you with the types of data that can be used in C Programming Language. Also it tells how to deal with these data structures in order to produce an efficient programme. To understand further please choose the Chapter you want to go through.
          Tip:
          %i See for each topic in the chapters some standard time is shown. Somewhere if before this time you feel you have completed that part, kindly tick the box ahead of it yourself or if after that time you directly go to other part, we will directly consider the completion of the part you are leaving.
/ /Main
