/ Main
#main
  .container
    .row
      / Sidebar
      #sidebar.4u
        %section
          %header
            %h2 7th Sem
          %p.posted Subjects
          .row
            %section.10u
              %ul.default
                %li.active
                  %a{:href => "#"} Advanced Computer Network
                %li
                  %a{:href => "#"} Mobile Computing
                %li
                  %a{:href => "#"} Multimedia Applications
                %li
                  %a{:href => "#"} Requirement and Elicitation Techniques
                %li
                  %a{:href => "/chapter"} Data Structures
                %li
                  %a{:href => "#"} Analog Electronics
                %li
                  %a{:href => "#"} Computer Architecture
                %li
                  %a{:href => "#"} Java Programming and Web Development
                %li
                  %a{:href => "#"} Database Management Systems
                %li
                  %a{:href => "#"} Digital Communication 1st
                %li
                  %a{:href => "#"} Organizational Behaviour
                %li
                  %a{:href => "#"} Digital Circuits and Systems 2nd
                %li
                  %a{:href => "#"}
                    \&nbsp<span class="fa fa-plus-circle"
                    %span/
        %section
          %header
            %h2 Latest Post
          %ul.style
            %li
              %p.posted May 21, 2014  |  (10 )  Comments
              %p
                %a{:href => "#"} Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.
            %li
              %p.posted May 18, 2014  |  (10 )  Comments
              %p
                %a{:href => "#"} Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.
      / Content
      #content.8u.skel-cell-important
        %section
          %header
            %h2
              Your Progress till #{Date.today - 1}
            %h2
          %br/
          %ul.default
            %li.active
              %span ||||||||||||||||||||||||||||||||
            %li
              %span |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
            %li
              %span ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
            %li
              %span ||||||||||||||||||||||||||||||||||||||||||||||||
            %li
              %span |||
            %li
              %span |||||||||||
            %li
              %span |||||||||||||||
            %li
              %span ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
            %li
              %span |||||||||||||||||||||||||||||||||||||||||||||
            %li
              %span ||||||||||||||||||||||||||
            %li
              %span ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
            %li
              %span |||||||||||||||||||||||||||||||||||||||
            %li
              %span Choose any of the subscribed subject which you feel from the options given on left side.
          %p
