%h1 Create a new institution
%form(action="#{action}" method="POST"
  %label(for="name") Name
  %input(type="text" name="name" value="#{c.name}")
  %br
  
  %label(for="affiliated_to") Affiliated to
  %input(type="text" name="affiliated_to" value="#{c.affiliated_to}")
  %br

  %label(for="contact") Contact
  %input(type="text" name="contact" value="#{c.contact}")
  %br

  %input(type="submit")
  %input(type="reset")
  %br

- unless c.id ==0
  %form(action="/institutions/#{c.id}/destroy" method="POST"
    %input(type="submit" value="Destroy")

  
