%h1 Institutions
%a(href="/institutions/new") New Institution
%table
  - cs.each do |c|
    %tr
      %td= c.name
      %td= c.affiliated_to
      %td= c.contact
      %td
        %a(href="/contacts/#{c.id}") Show
      %td
        %a(href="contacts/#{c.id}/edit") Edit
