/ Header
/ Main
#main
  #content.container
    %section
      %header
        %h2 Latest Happenings
        %ul.style
          %li
            .posted
              Aug 25, 2014  |  09:40 pm
              %span.byline/
            %p
              It's been decided by our team in last meeting that Version 1.09 Amrood of  BigBook Application is to be launched on September 1, 2014. This version would be the beta version of the actual app. Some features that it would be having initially are as given on
              %a{:href => "http://bigbook.herokuapp.com/features"} BigBook Features
