/ Main
#main
  .container
    .row
      / Sidebar
      #sidebar.4u
        %section
          %header
            %h2 Graphs
          %p.posted Topics
          .row
            %section.10u
              %ul.default
                -@topics.each do |l|
                  %li
                    %a{:href => ""} #{l.title}                  
        %section
          %header
            %h2 Last Year Questions
          %ul.style
            %li
              %p.posted End Term, 2013
              %p In how many forms the graphs are represented ? Explain
            %li
              %p.posted First Sessionals, 2013
              %p Why Representation of graphs is considered of much importance ?
      / SIDEBAR
      / Content
      #content.8u.skel-cell-important
        %section
          %header
            %h2 
              #{@topictodisplay.title}
            %br
            %br	
            %br	

            %p
              #{@topictodisplay.ennkeypee_content}
              %a{:class => "fa fa-edit"} 
